p   {
    /* Content - Width and Height */
    width: 50%;
    /* height: 300px; */
    /* Border */
    border: 2px solid blue;

    /* padding */
    /* padding:10px; */
    padding-left:40px;

    /* Margin */
    /* margin:100px; */
    /* margin-top: 500px; */
    /* margin:20px 40px 500px 100px;  <-this is in the top-right-down-left clock-wise order */

    /* margin:0 auto 0 auto; */
    /* margin: 0 auto;  <-this mushes the elements vertically with equal left and right margins */
    margin: 50px 20px;
}